{% extends 'loyaut.html' %}

{% block navigation %}
    Тут другая навигация
{% endblock %}


{% block content %}
    <p style="color:{{ color}} ">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Beatae in laborum optio possimus
        praesentium provident qui quo quod
        sapiente vitae! Aliquid atque aut delectus
        earum eveniet impedit non perspiciatis quaerat?
    </p>
    <p style="color:{{ color}} ">
        {{ color }}
    </p>

    <p style="color:{{ color}} ">
       количество символов в слове {{ lens }}
    </p>

    <a href="/">Go to main</a>
{% endblock %}
